# fly.toml app configuration file generated for order-system-backend on 2024-11-29T21:25:01+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "order-system-backend"
primary_region = "iad"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
